@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .block {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_top {
            background-image: url(img/topbg_mob.jpg);
            height: 735px;
        }
    }

    .title {
        width: 100vw;
        text-align: center;
        font-size: 32px;
        padding-top: 239px;

        &_game {
            font-size: 32px;
            padding-top: 0;
        }

    }

    .text {
        width: 343px;
        text-align: center;
        font-size: 14px;
        line-height: 22px;

        &_bold {
            font-size: 14px;
            line-height: 22px;
        }

    }

    .button {
        margin-top: 0;
    }

    .game {
        flex-direction: column;
        align-items: center;
        gap: 32px;

        &__item {
            width: 100%;
        }

        &__item_1 {
            background-image: url(img/game1_mob.jpg);
        }

        &__item_2 {
            background-image: url(img/game2_mob.jpg);
        }

        &__item_3 {
            background-image: url(img/game3_mob.jpg);
        }

        &__text {
            left: 16px;
        }
    }

    .game-card {
        flex-direction: column;
        gap: 64px;
        padding-top: 51px;
        padding-bottom: 85px;
        &_game2{
            flex-direction: column-reverse;
            padding-bottom: 90px;
        }
    }

    .game-img {
        width: 343px;
        height: 236px;
    }

}