@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        background-image: url(img/topbg_mob.jpg);
        height: 735px;
    }

    .top {
        display: flex;
        gap: 33px;
        flex-direction: column;
        align-items: center;
    }

    .title {
        width: 100%;
        text-align: center;
        font-size: 32px;
        padding-top: 239px;

    }

    .text {
        width: 100%;
        text-align: center;
        font-size: 14px;
        line-height: 22px;

        &_bold {
            font-size: 14px;
            line-height: 22px;
        }
    }

    .top-button {
        margin-top: 0;
    }

    .game {
        flex-direction: column;
        align-items: center;
        gap: 32px;
        &__item{
            width: 100%;
        }

        &__item_1 {
            background-image: url(img/game1_mob.jpg);
        }

        &__item_2 {
            background-image: url(img/game2_mob.jpg);
        }

        &__item_3 {
            background-image: url(img/game3_mob.jpg);
        }

        &__text {
            left: 16px;
        }
    }

}